/**CSS Code for Component for Home Screen**/

.header {
    text-align: center;
    margin: 20px;
}

p.loader-text {
    text-align: center;
}

.input-search {
    height: 100px;
}

/**Style for the loading element**/
p.loader {
   border: 2px solid #f3f3f3;
   border-top: 2px solid #b9c4cc;
   position: relative;
   left: 50%;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  p.error-message {
      text-align: center;
  }
/**Style for the loading element**/







